.idea/
*.pyc
log/
*-*_*_*_save.data
*cookies.data
project/*/cache/
project/*/info/session
project/*/audio/
project/*/content/
project/*/photo/
project/*/video/
game/steam/cache/*
deprecation/
gallery/
video/
build/
dist/
