<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input id="result" value="">
<script src="../template/aes.js"></script>
<script src="../template/mode-ecb.js"></script>
<script>
    var encrypt_url = "%%URL%%";
    var url = CryptoJS.AES.decrypt(
        {
            ciphertext: CryptoJS.enc.Base64.parse(encrypt_url)
        },
        CryptoJS.enc.Hex.parse("aaad3e4fd540b0f79dca95606e72bf93"),
        {
            mode: CryptoJS.mode.ECB,
            padding: CryptoJS.pad.Pkcs7
        }
    ).toString(CryptoJS.enc.Utf8)
    document.getElementById("result").value = url;
</script>
</body>
</html>
